langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.50
langchain-openai==0.1.6
langchain-text-splitters==0.0.1
chromadb==0.4.24
sentence-transformers==2.2.2
pypdf==4.0.1
python-dotenv
python-pptx
Pillow
pytesseract
rank-bm25
pymupdf
